.logo {
    width: 100%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("imagens/menu-desktop.jpg");
}

/*estilos para celulares */
@media (max-width: 480px) {
    .logo {
        background-image: url("imagens/menu-celular.jpg");
    }
}

/*estilos para tablets*/
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        background-image: url("imagens/menu-tablet.jpg");
    }
}

/*estilos para desktop*/
@media (min-width: 1024px) {
    .logo {
        background-image: url("imagens/menu-desktop.jpg");
    }
}

header {
    display: flex;
    background-color: #5a1488;
    color:aliceblue;
}

li a{
    color: aliceblue;
}